div.chart {
    float: left;
}
.edge {
    fill: none;
}

text.node-label {
    font: bold 14px verdana, san-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
}

text.edge-label {
    font: 10px verdana, san-serif;
    pointer-events: none;
}
