.dc-graph div.chart {
    float: left;
}
.dc-graph .edge {
    fill: none;
}

.dc-graph text.node-label {
    font: bold 14px verdana, san-serif;
    text-anchor: middle;
    pointer-events: none;
    user-select: none;
}

.dc-graph text.edge-label {
    font: 10px verdana, san-serif;
    pointer-events: none;
}

.dc-graph-legend text.legend-label {
    font: bold 14px verdana, san-serif;
    pointer-events: none;
}

.dc-graph > svg {
    display: block;
}

.no-paths.error {
    white-space: pre;
    color: darkred;
    font-family: Monaco, monospace;
}
