.dc-graph {
    -moz-user-select: none;
    user-select: none;
    position: relative;
}
.dc-graph div.chart {
    float: left;
}
.dc-graph .edge {
    fill: none;
}

.dc-graph text.node-label {
    font: bold 14px verdana, sans-serif;
    text-anchor: middle;
    dominant-baseline: text-after-edge;
    pointer-events: none;
}

.dc-graph text.edge-label {
    font: 10px verdana, sans-serif;
    pointer-events: none;
}

.dc-graph-legend text.legend-label {
    font: bold 14px verdana, sans-serif;
}

.dc-graph g.brush rect.extent {
    fill: #4682b4;
    fill-opacity: 0.125;
}

.dc-graph > svg {
    display: block;
}

.no-paths.error {
    white-space: pre;
    color: darkred;
    font-family: Monaco, monospace;
}

.dc-graph g.node image.icon {
    pointer-events: none;
}

.dc-graph .dropdown {
    position: absolute;
    padding: 0.5em;
    background-color: rgba(210, 240, 255, 0.8);
}

.dc-graph .dropdown::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.dc-graph .dropdown::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.dc-graph .dropdown .dropdown-item {
    padding: 0.1em;
}

.dc-graph .dropdown .dropdown-item:hover {
    background-color: rgba(0, 25, 180, 0.9);
    color: white;
}

.dc-graph .graph-draw-crossout {
    fill: rgba(240, 16, 8, 0.85);
    stroke: none;
    pointer-events: none;
}

.dc-graph .grid-line {
    stroke: black;
    opacity: 0.1;
    fill: none;
}
