div.chart {
    float: left;
}
.edge {
    fill: none;
}

text.nodelabel {
    font: bold 12px verdana, san-serif;
    color: #000000;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
}

text.edgelabel {
    font: 10px verdana, san-serif;
    fill: #aaa;
    pointer-events: none;
}
