.dc-graph text.node-label {
    font: 10px helvetica, san-serif;
    text-anchor: middle;
    pointer-events: none;
}

.edge-label {
    visibility: visible;
}

#main {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

#graph {
    flex: 1;
}

.d3-tip table td {
    font-size: 10px;
    font-weight: normal;
}
