#options-panel {
    position: absolute;
    left: 5px;
    top: 5px;
}

#select-location {
    float: none;
    margin: 5px;
}

.dc-graph text.node-label {
    font: 12px verdana, san-serif;
}

.dc-graph svg {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

