body {
    margin: 0;
    overflow: hidden;
}

#controls {
    margin-top: 100px;
    position: absolute;
    top: 170px;
    right: 0;
    background-color: rgba(221, 238, 221, 0.95);
    padding: 40px;
}

#status {
    display: inline-block;
    float: right;
}

#time-range label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}

#run-indicator {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
    color: darkred;
}

#graph-stats {
    float: right;
}

#overview {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 175, 60, 0.95);
}

#overview .dc-graph text.node-label {
    font: bold 8px verdana, san-serif;
}

#overview .dc-graph text.edge-label {
    font: 6px verdana, san-serif;
}

#search-wrapper {
    display: none;
    padding: 4px;
}
