html, body, #main {
    margin: 0;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: row;
}

#sub {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#hierarchy {
    flex: 1;
    margin: 0;
}

#levels {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#vnf, #vfc, #vm, #host {
    flex: 1;
    border: solid 1px;
    margin-left: -1px
}

.dc-graph text.node-label {
    font: 10px helvetica, san-serif;
    text-anchor: middle;
    pointer-events: none;
}
