#overlay {
    width: 180px;
    position: absolute;
    top: 200px;
    right: 0;
    background-color: rgba(221, 238, 221, 0.5);
    padding: 40px;
    font: 14px verdana, sans-serif
}

.dc-graph text.node-label {
    font: 12px verdana, san-serif;
}

body {
    margin: 0;
    overflow: hidden;
}