#overlay {
    width: 180px;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: rgba(221, 238, 221, 0.75);
    padding: 40px;
    font: 14px verdana, sans-serif
}

#charts-area {
    width: 250px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: table;
}

#charts-positioner {
    display:table-cell;
    vertical-align:bottom;
}

#charts-container {
    background-color: white;
    display: inline-block;
}

#charts-container p {
    margin-top: 0;
    margin-bottom: 0;
}

#run-indicator {
    position: absolute;
    right: 1em;
    top: 1em;
    display: hidden;
    color: darkred;
}

.dc-graph text.node-label {
    font: 12px verdana, san-serif;
}

body {
    margin: 0;
    overflow: hidden;
}